body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    }
    
    h1 {
        text-align: center;
        margin-top: 20px;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        background-color: none;
        padding: 10px 0;
    }
    
    nav li {
        margin: 0 20px;
    }
    
    nav a {
        text-decoration: none;
        color: #333;
        transition: color 0.3s;
    }
    
    nav a:hover {
        color: #7524b8;
    }
    
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
    }
    
    .image {
        width: calc(33.33% - 20px);
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
    }
    
    .image img {
        width: 100%;
        height: 100%;
    }
    
    .image:hover img {
        transform: scale(0.7);
    }
    
    .image:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(207, 135, 165);
        opacity: 0;
        transition: opacity 0.3s;
    }
    
    .image:hover:before {
        opacity: 1;
    }
    
    .image:hover img,
    .image:hover:before {
        filter: brightness(1.2);
    }